In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense

In [2]:
print(tf.__version__)

1.15.0

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
cc = pd.read_csv("G:\\NN Data Sets\\Customer_Churn_Modelling.CSV") ##loding the data

In [7]:
cc.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
x = cc.drop(labels=['CustomerId','RowNumber','Surname','Exited'],axis=1) #Droping the columns

In [10]:
y = cc['Exited']

In [11]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [12]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [19]:
l1 = LabelEncoder()

In [23]:
x['Geography'] = l1.fit_transform(x['Geography']) #we convert cat data into numerical data "Gender" "Geography" columns

In [24]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,Female,42,2,0.00,1,1,1,101348.88
1,608,2,Female,41,1,83807.86,1,0,1,112542.58
2,502,0,Female,42,8,159660.80,3,1,0,113931.57
3,699,0,Female,39,1,0.00,2,0,0,93826.63
4,850,2,Female,43,2,125510.82,1,1,1,79084.10

In [25]:
l2 = LabelEncoder()

In [26]:
x['Gender'] = l2.fit_transform(x['Gender'])

In [27]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [28]:
from sklearn.preprocessing import StandardScaler

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0, stratify = y )

In [33]:
#We Bring all the data into same scale so we do standardization
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [41]:
x_train

array([[-1.24021723, -0.90267262, -1.09665089, ..., -1.54963239,
        -1.03849022,  1.64099027],
       [ 0.75974873,  0.30491617,  0.91186722, ...,  0.64531434,
         0.96293637, -1.55587522],
       [-1.72725557, -0.90267262, -1.09665089, ...,  0.64531434,
        -1.03849022,  1.1038111 ],
       ...,
       [-0.51484098,  0.30491617,  0.91186722, ..., -1.54963239,
         0.96293637, -1.01507508],
       [ 0.73902369, -0.90267262, -1.09665089, ...,  0.64531434,
         0.96293637, -1.47887193],
       [ 0.95663657,  1.51250495,  0.91186722, ...,  0.64531434,
        -1.03849022,  0.50945854]])

# Model Buling

In [42]:
model = Sequential()
model.add(Dense(x.shape[1], activation='relu', input_dim = x.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [43]:
x.shape[1]

10

In [45]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [47]:
model.fit(x_train, y_train.to_numpy(), batch_size = 10, epochs = 10, verbose = 1)

Train on 8000 samples
Epoch 1/10
8000/8000 [==============================] - 1s 147us/sample - loss: 0.4443 - acc: 0.8105
Epoch 2/10
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3856 - acc: 0.8446
Epoch 3/10
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3607 - acc: 0.8533
Epoch 4/10
8000/8000 [==============================] - 1s 118us/sample - loss: 0.3520 - acc: 0.8566
Epoch 5/10
8000/8000 [==============================] - 1s 133us/sample - loss: 0.3475 - acc: 0.8569
Epoch 6/10
8000/8000 [==============================] - 1s 153us/sample - loss: 0.3412 - acc: 0.8599
Epoch 7/10
8000/8000 [==============================] - 1s 158us/sample - loss: 0.3389 - acc: 0.8593
Epoch 8/10
8000/8000 [==============================] - 1s 134us/sample - loss: 0.3377 - acc: 0.8604
Epoch 9/10
8000/8000 [==============================] - 1s 138us/sample - loss: 0.3342 - acc: 0.8616
Epoch 10/10
8000/8000 [==============================] - 1s 139us/sample - loss: 0.3349 - acc: 0.8621

In [48]:
y_pred = model.predict_classes(x_test)

In [49]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [0]])

In [50]:
y_test

1344    1
8167    0
4747    0
5004    1
3124    1
       ..
9107    0
8249    0
8337    0
6279    1
412     0
Name: Exited, Length: 2000, dtype: int64

In [51]:
model.evaluate(x_test, y_test.to_numpy())

2000/2000 [==============================] - 0s 45us/sample - loss: 0.3524 - acc: 0.8545

[0.35244582986831663, 0.8545]

In [52]:
#by using Sklearn
from sklearn.metrics import confusion_matrix, accuracy_score

In [53]:
confusion_matrix(y_test, y_pred)

array([[1538,   55],
       [ 236,  171]], dtype=int64)

In [54]:
accuracy_score(y_test, y_pred)

0.8545